body {
	background-color:rgb(225, 225, 225);	
}
form {
	margin-bottom:1em;
}
span {
	display:inline-block;
	border-radius:10em;
	width:1em;
	height:1em;	
}
option {
	color:white;
}

input {
	border-radius:1em;
	border:none;
	padding:0.2em 0.5em;
}
select {
	border-top-left-radius: 12em;
	border-bottom-left-radius: 12em;
	border:none;
}
input[type="submit"] {
	background: rgb(75, 45, 162);
	color:white;
	font-weight:bold;
}
aside input, aside option, aside select {
	font-size:1em;
}
aside option, aside select, aside input[type="submit"] {
	cursor:  pointer;	
}
section {
	text-align:center;
}
article {
	background-color:rgb(255, 255, 255);
	width:20vw;
	color:black;
	margin-bottom:5vh;
	border-radius: 2.5em;
}

article h2 {
	margin-top:0;
	padding:0.2em 0;
	color:white;
	border-top-left-radius: 12em;
	border-top-right-radius: 12em;
}
article a {
	color:black;
}
#home nav {
	margin:2em 0;
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
	align-items:center;
}
#home nav a {
	display:block;
	width:12vw;
	margin: 0.5em;
	padding:0.2em 1em;
	font-size:1.5em;
	font-weight: bold;
	color: white;
	border-radius:1em;
	
}
#home article {
	cursor:  pointer;
}
#home a, article a {
	text-decoration:none;
}
#listCategorie {
	margin:0 auto;
	padding-left:3.6vw;
	display:flex;
	flex-flow: row wrap;
	justify-content:center;
	align-content: center;
	align-items:center;
	
}
#pageAdmin article:first-child {
	width: 25vw;
}
#pageAdmin article {
	width: 75vw;
}