body {
	background-color:rgb(225, 225, 225);
	font-family: 'Lato', sans-serif;	
}
form {
	margin-bottom:1em;
}
span {
	display:inline-block;
	border-radius:10em;
	width:1em;
	height:1em;	
}
option {
	font-family: 'Lato', sans-serif;
	color:white;
}

input {
	font-family: 'Lato', sans-serif;
	border-radius:1em;
	border:none;
	padding:0.2em 0.5em;
}
select {
	border-top-left-radius: 12em;
	border-bottom-left-radius: 12em;
	border:none;
	font-family: 'Lato', sans-serif;
}
input[type="submit"] {
	background: rgb(75, 45, 162);
	color:white;
	font-weight:bold;
	font-family: 'Lato', sans-serif;
}
aside input, aside option, aside select {
	font-size:1em;
}
aside option, aside select, aside input[type="submit"] {
	cursor:  pointer;	
}
section {
	text-align:center;
}
nav {
	margin:2em 0;
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;	
	align-items:center;
}
nav article {
	margin: 0.5em;
	border-radius:1em;
}
nav article a {
	display:inline-block;
	width:12vw;
	padding:0.2em 1em;
	font-size:1.5em;
	font-weight: bold;
	color: white;
	
}
nav article a:nth-child(2), nav article a:nth-child(3) {
	width:2vw;
	margin:0;
	margin-right:0.3em;
	padding:0;
}
nav article a:nth-child(3) {
	margin-right:0.5em;
}
#listCategorie {
	display:flex;
	flex-flow: row wrap;
	justify-content:center;
	align-content: flex-start;
	align-items:center;
	
}
#listCategorie article {
	background-color:rgb(255, 255, 255);
	width:20vw;
	color:black;
	margin:0.5em;
	margin-bottom:5vh;
	border-radius: 1em;
}

#listCategorie article h2 {
	margin-top:0;
	padding:0.2em 0;
	color:white;
	border-top-left-radius: 0.7em;
	border-top-right-radius: 0.7em;
}
#listCategorie article h2 a {
	float:right;
	color:white;
	margin-right:0.5em;
}
#listCategorie article a {
	color:black;
}
#home article {
	cursor:  pointer;
}
#home a, article a {
	text-decoration:none;
}
#pageAdmin article:first-child {
	width: 25vw;
}
#pageAdmin article {
	width: 75vw;
}
.edit input[type="text"], .edit select {
	border: 0.1em solid black;
	margin:0.5em 0;
}
.edit input[type="submit"] {
	margin-bottom: 0.5em;
	
}
